{:hara/type :project
 :hara/version "1.0.0"
 :project/id greenways-worlds/apartment
 :project/version "1.0.0"
 :project/source-paths []
 :project/test-paths []
 :project/extension-paths []
 :project/capabilities [:canvas/webgl2 :input/pointer]
 :project/world
 {:world/version "1.0.0"
  :world/title "Apartment"
  :world/background "#111716"
  :world/camera {:world/position [-0.98 0.28 -2.31]
                 :world/target [-1.1 0.13 -1.56]
                 :world/fov 90}
  :world/layers [{:world/id apartment
                  :world/asset "world/apartment.sog"
                  :world/transform {:world/position [0 -0.5 -3]
                                    :world/rotation [180 0 0]
                                    :world/scale 0.5}}]
  :world/imports []}}
